---
import Layout from '../../components/Layout.astro';
import { DashboardRoot } from '../../components/DashboardRoot';
---

<Layout title="User Dashboard">
  <div class="container mx-auto px-4 py-8">
    <DashboardRoot client:only="react" />
  </div>
</Layout> 