---
import Layout from '../components/Layout.astro';
import LoginWrapper from '../components/LoginWrapper';
---

<Layout title="Login">
  <div class="text-center mb-8">
    <h1 class="text-3xl font-bold">Welcome Back</h1>
    <p class="text-gray-600 dark:text-gray-400 mt-2">Please sign in to your account</p>
  </div>
  
  <LoginWrapper client:only="react" />
  
  <p class="text-center mt-4 text-gray-600 dark:text-gray-400">
    Don't have an account? <a href="/register" class="text-primary hover:underline">Sign up</a>
  </p>
</Layout> 